Repository danisoronellas/snapgram: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, prettier, eslint, spelling, markdown-link-check

type-check:
  run: yarn typecheck

prettier:
  run: yarn prettier --check {staged_files}

eslint:
  run: yarn eslint {staged_files}

spelling:
  run: yarn cspell {staged_files}

markdown-link-check:
  run: npx markdown-link-check {staged_files}

fixes
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  lefthook.yml
  package.json
  yarn.lock
Due: none

refactored root layouts
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  src/App.tsx
Due: type-check, prettier, eslint, spelling

uninstalled lefthook; installed pre-commit-hooks
  .pre-commit-config.yaml
Due: none

updated pre-commit-hooks
  .pre-commit-config.yaml
Due: none

installed & configured components lib shadcn/ui
  .eslintrc.yml
  .pre-commit-config.yaml
  components.json
  package.json
  src/_auth/forms/SignupForm.tsx
  src/components/ui/button.tsx
  src/globals.css
  src/lib/utils.ts
  tailwind.config.js
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: type-check, prettier, eslint, spelling

added sort imports
  .eslintrc.cjs
  .eslintrc.yml
Due: none

added sort imports
  .eslintrc.cjs
  package.json
  yarn.lock
Due: none

fixes
  src/App.tsx
Due: type-check, prettier, eslint, spelling

added a generic button in the sign-up page
  src/_auth/AuthLayout.tsx
  src/_auth/forms/SignupForm.tsx
Due: type-check, prettier, eslint, spelling

fixes
  src/main.tsx
Due: type-check, prettier, eslint, spelling

first version sign-up page
  .eslintrc.cjs
  .pre-commit-config.yaml
  public/assets/icons/add-post.svg
  public/assets/icons/back.svg
  public/assets/icons/bookmark.svg
  public/assets/icons/chat.svg
  public/assets/icons/delete.svg
  public/assets/icons/edit.svg
  public/assets/icons/favicon.ico
  public/assets/icons/file-upload.svg
  public/assets/icons/filter.svg
  public/assets/icons/follow.svg
  public/assets/icons/gallery-add.svg
  public/assets/icons/google.svg
  public/assets/icons/home.svg
  public/assets/icons/like.svg
  public/assets/icons/liked.svg
  public/assets/icons/loader.svg
  public/assets/icons/logout.svg
  public/assets/icons/people.svg
  public/assets/icons/posts.svg
  public/assets/icons/profile-placeholder.svg
  public/assets/icons/save.svg
  public/assets/icons/saved.svg
  public/assets/icons/search.svg
  public/assets/icons/share.svg
  public/assets/icons/wallpaper.svg
  public/assets/images/logo.svg
  public/assets/images/profile.png
  public/assets/images/side-img.svg
  public/vite.svg
  src/_auth/AuthLayout.tsx
  src/_auth/forms/SigninForm.tsx
  src/_root/RootLayout.tsx
  src/_root/pages/Home.tsx
  src/main.tsx
Due: type-check, prettier, eslint, spelling

first mvp sign-up form from shadcn/ui components lib
  .eslintignore
  package.json
  src/_auth/forms/SignupForm.tsx
  src/components/ui/form.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/lib/validation/index.ts
  yarn.lock
Due: type-check, prettier, eslint, spelling

refactor: decoupled sign-up formSchema for validation
  src/_auth/forms/SignupForm.tsx
  src/lib/validation/index.ts
Due: type-check, prettier, eslint, spelling

applied custom styles
  .eslintrc.cjs
  src/_auth/forms/SignupForm.tsx
  src/globals.css
  src/lib/validation/index.ts
  tailwind.config.js
Due: type-check, prettier, eslint, spelling

sign-up form frontend implemented
  src/_auth/forms/SignupForm.tsx
  src/components/shared/Loader.tsx
Due: type-check, prettier, eslint, spelling

installed & configured appwrite
  package.json
  src/lib/appwrite/config.ts
  src/vite-env.d.ts
  yarn.lock
Due: type-check, prettier, eslint, spelling

sign-up form is functional and creates user in appwrite
  src/_auth/forms/SignupForm.tsx
  src/lib/appwrite/api.ts
  src/types/index.ts
Due: type-check, prettier, eslint, spelling

added api methods to create user in the db
  src/_auth/forms/SignupForm.tsx
  src/lib/appwrite/api.ts
  src/lib/appwrite/config.ts
Due: type-check, prettier, eslint, spelling

user creation/authentication mvp working version
  .eslintrc.cjs
  package.json
  src/App.tsx
  src/_auth/forms/SigninForm.tsx
  src/_auth/forms/SignupForm.tsx
  src/components/ui/toast.tsx
  src/components/ui/toaster.tsx
  src/components/ui/use-toast.ts
  src/context/AuthContext.tsx
  src/lib/appwrite/api.ts
  src/lib/react-query/QueryProvider.tsx
  src/lib/react-query/queriesAndMutations.ts
  src/lib/validation/index.ts
  src/main.tsx
  src/types/index.ts
  yarn.lock
Due: type-check, prettier, eslint, spelling

added sign-out action; build topbar, leftside bar and bottom bar;
  src/App.tsx
  src/_root/RootLayout.tsx
  src/_root/pages/AllUsers.tsx
  src/_root/pages/CreatePost.tsx
  src/_root/pages/EditPost.tsx
  src/_root/pages/Explore.tsx
  src/_root/pages/LikedPosts.tsx
  src/_root/pages/PostDetails.tsx
  src/_root/pages/Profile.tsx
  src/_root/pages/Saved.tsx
  src/_root/pages/UpdateProfile.tsx
  src/_root/pages/index.ts
  src/components/shared/Bottombar.tsx
  src/components/shared/LeftSidebar.tsx
  src/components/shared/Topbar.tsx
  src/constants/index.ts
  src/lib/appwrite/api.ts
  src/lib/react-query/queriesAndMutations.ts
  src/types/index.ts
Due: type-check, prettier, eslint, spelling

fixes
  src/context/AuthContext.tsx
Due: type-check, prettier, eslint, spelling

fixes
  src/_auth/forms/SignupForm.tsx
Due: type-check, prettier, eslint, spelling

updated README.md
  README.md
Due: spelling, markdown-link-check

home feed shows photo feeds; updated readme; added node-version file
  .eslintrc.cjs
  .node-version
  README.md
  package.json
  src/_root/pages/CreatePost.tsx
  src/_root/pages/Home.tsx
  src/components/forms/PostForm.tsx
  src/components/shared/FileUploader.tsx
  src/components/shared/PostCard.tsx
  src/components/ui/textarea.tsx
  src/lib/appwrite/api.ts
  src/lib/react-query/queriesAndMutations.ts
  src/lib/react-query/queryKeys.ts
  src/lib/utils.ts
  src/lib/validation/index.ts
  src/main.tsx
  src/types/index.ts
  yarn.lock
Due: type-check, prettier, eslint, spelling, markdown-link-check

added functionality to liked/save post
  package.json
  src/components/shared/PostCard.tsx
  src/components/shared/PostStats.tsx
  src/lib/appwrite/api.ts
  src/lib/react-query/queriesAndMutations.ts
  src/lib/utils.ts
  src/main.tsx
  yarn.lock
Due: type-check, prettier, eslint, spelling

implemented edit functionality
  src/_root/pages/CreatePost.tsx
  src/_root/pages/EditPost.tsx
  src/components/forms/PostForm.tsx
  src/components/shared/FileUploader.tsx
  src/lib/appwrite/api.ts
  src/lib/react-query/queriesAndMutations.ts
  src/types/index.ts
Due: type-check, prettier, eslint, spelling

small fix
  src/components/forms/PostForm.tsx
Due: type-check, prettier, eslint, spelling

explore mvp functional with searching functionality and infinite scroll
  .eslintrc.cjs
  package.json
  src/_root/pages/Explore.tsx
  src/_root/pages/PostDetails.tsx
  src/components/shared/GridPostList.tsx
  src/components/shared/PostStats.tsx
  src/components/shared/SearchResults.tsx
  src/hooks/useDebounce.tsx
  src/lib/appwrite/api.ts
  src/lib/react-query/queriesAndMutations.ts
  yarn.lock
Due: type-check, prettier, eslint, spelling

fixes
  src/_root/pages/Explore.tsx
  src/_root/pages/Home.tsx
  src/components/forms/PostForm.tsx
  src/components/shared/GridPostList.tsx
  src/components/shared/SearchResults.tsx
  src/lib/react-query/queriesAndMutations.ts
Due: type-check, prettier, eslint, spelling

fixes
  index.html
Due: none

Path conditions:
  type-check: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx}
  eslint: any of: *.{js,ts,jsx,tsx}
  spelling: any of: *.{js,ts,jsx,tsx,md}
  markdown-link-check: any of: *.md
